{% extends "base.html" %}
{% block content %}

<main>

    {% if posts %}
        {% for post in posts %}
            <h2><a href="/blog?id={{ post.id }}"">{{post.title}}</a></h2>
            <p>{{post.body}}</p>
            <small>Posted by <a href="/blog?user={{ post.owner.id }}">{{post.owner.username}}</a>
                on {{post.posted}}</small>
        {% endfor %}

        <br /><br />

        <div class="pagination">
        {% if prev_url %}
            <a href="{{ prev_url }}">&larr; Newer Posts</a>
        {% endif %}

        {% if prev_url and next_url %}
            &verbar; <!-- divider -->
        {% endif %}

        {% if next_url %}
            <a href="{{ next_url }}"> Older Posts &rarr;</a>
        {% endif %}
        </div>
            
    {% else %}
        <h2>Nothing here yet.</h2>
    
    {% endif %}

</main>

{% endblock %}


